.Card-Container {
  background-color: rgb(77, 205, 205);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 20px 30px;
  margin: 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  border-collapse: collapse;
  border-style:outset;
  

}



.skill ul li {
  border-color: rgb(17, 1, 1);
  background-color: #fcfcfd;
  border-style:inset;
  margin: 20px;
  display:grid;
  flex-direction: row;
  padding: 20px;
  border-spacing: 50%;
  text-align:center;
  border-width: 2px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

#img {
  border-radius: 50%;
  background-color: rgb(122, 118, 118);
  border-style:outset;
  border-width: 10px;
  border-spacing: 200px;
  padding: 10px;
}
.online {
  background-color: rgb(128, 83, 0);
  width: 60px;
  border-radius: 0%;
  color: aliceblue;
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
}
.offline {
  background-color: rgb(246, 21, 21);
  width: 70px;
  border-radius: 0%;
  color: rgb(0, 0, 0);
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
}

.button #primary{
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}



.button #primary:active {
  transform: translateY(2px);
}

.text{
  padding: 20px;
}
